<section class="mainsection first">
  <div class="row intro-wrapper">
    <div class="large-12 medium-12 small-12 columns">
      <h1>We are <strong><a href="#">Source Lovers</a></strong></h1>
      <h3>
        And we'd like to help you building donation pages for your open source projects.
        <strong>Fund raising the hacker way.</strong>
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="large-12 small-12 medium-12 columns">
      <%= image_tag 'git.png', :class => "img" %>
    </div>
  </div>
</section>


<section class="mainsection thirdsection">
  <div class="row">
    <div class="large-12 medium-12 small-12 columns">
      <div class="row collapse">
        <div class="large-9 small-12 medium-8 columns description">
          <p>
            Mantainers of open source projects are often annoyed by bad comments and flames.
            It's time to change this and make them happy and proud for the hard work they do for all of us.
          </p>
          <p>
            Don't let them to burn out, take the chance to show some love to your favourite open soruce project!
          </p>
        </div>
        <div class="large-3 small-12 medium-4 columns image">
          <%= image_tag 'code.svg', :class => "image right" %>
        </div>
      </div>
    </div>
  </div>
  <div class="row search-section">
    <div class="large-12 medium-12 small-12 columns">
      <div class="row collapse">
        <div class="large-5 medium-5 small-12 columns">
          <h1>Show your love for</h1>
        </div>
        <%= form_for :projects, :url => projects_path, :method => "GET" do |f| %>
          <div class="small-10 large-6 medium-6 columns">
            <%= f.text_field :q, :name => "q", :class => "search-pj", :placeholder => "Redis" %>
          </div>
          <div class="small-2 large-1 medium-1 columns">
            <%= f.submit "❤", :class => "button prefix search-pj" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section class="secondsection dark">
  <div class="row">
    <div class="large-12 medium-12 small-12 columns intro-wrapper">
        <h1> How it works </h1>
        <section class="step">
          <h3>Step 1: set up the Github's webhook</h3>
          <div class="highlight"><pre>http://sourcelovers.r13.railsrumble.com/hooks/github</pre></div>
          <h5>Source Lovers will get updates from your repo via the webhook. You should insert it into Settings>Service Hooks> WebHook URLs in your Github repo.</h5>
        </section>
        <section class="step">
          <h3> Step 2: create a manifest for your project</h3>

          <%= render 'manifest' %>

          <h5> Create a JSON manifest file and push it into your repo. This file should follow the Source Lovers <a href="#">manifest specification</a>.</h5>
        </section>
        <section class="step">
          <h3> Step 3: relax and start getting ❤</h3>
          <h5 class="last-step">Your project is now automagically listed in Source Lovers directory. Everytime you push changes to the manifest, your project's page will be updated.</h5>
        </section>
    </div>
  </div>
</section>
