<div class="row collapse">
  <div class="large-12 medium-12 small-12 columns">
    <h1><%= @project.name %></h1>

    <p><%= @project.description %></p>

    <p>
      <strong>Author:</strong>
      <%= @project.author %>
    </p>

    <p>
      <strong>Languages:</strong>
      <%= @project.languages %>
    </p>

    <% if @project.homepage.present? %>
      <p><%= link_to @project.homepage %></p>
    <% end %>

    <% if @project.keywords.present? %>
      <p>
        <strong>Keywords:</strong>
        <%= @project.keywords %>
      </p>
    <% end %>

    <% if @project.license.present? %>
      <p>
        <strong>License:</strong>
        <%= @project.license %>
      </p>
    <% end %>

    <% if @project.donation_packages %>
      <h3>Show your love for <%= @project.name %></h3>

      <div class="row collapse">
        <% @project.donation_packages.each do |donation_package| %>
          <div class="large-4 medium-4 small-4 columns">
            <div class="row collapse">
              <div class="large-11 medium-11 small-11 columns centered">
                <div class="donation_package">
                  <h2><%= number_to_currency(donation_package['amount']) %></h2>
                  <p><%= donation_package['description'] %></p>
                  <%= render :partial => 'paypal_button', :locals => { :project => @project, :donation_package => donation_package } %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>