<div class="row collapse">
  <div class="large-12 medium-12 small-12 columns">
    <h1><%= @project.name %></h1>

    <p><%= @project.description %></p>

    <p>
      <strong>Author:</strong>
      <%= @project.author %>
    </p>

    <p>
      <strong>Languages:</strong>
      <%= @project.languages %>
    </p>

    <% if @project.donation_packages %>
      <% @project.donation_packages.each do |donation_package| %>
        <p>
          <%= donation_package['description'] %>
        </p>
        <%= render :partial => 'paypal_button', :locals => { :project => @project, :donation_package => donation_package } %>
      <% end %>
    <% end %>
  </div>
</div>